@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300;400;500;600&family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open+Sans', sans-serif;
  background-color: rgb(75, 128, 159)
}

.container {
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

section {
  padding: 50px 0;
}